#body-grid.advanced {
    border: 0;
    grid-area: body-grid;
    max-height: 90vh;
    background-color: rgba(0,0,0,0.1);

    display: grid;
    grid-row-gap: 3px;
    grid-column-gap: 3px;
    grid-template-columns: 0.5fr 1fr 1fr 5fr 1fr 1fr 1fr 7fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr 2fr 1fr 0.5fr;
    grid-template-rows: 0.25fr 1fr 1fr 3fr 1fr 1fr 1fr 6fr 1fr 1fr 0.25fr;
    grid-template-areas:
            ".  .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  "
            ".  EDB EDB EDB EDB EDB D2D DAB DAB DAB DAB DAB DAB DAB DAB DAB DAB DAB DAB DAB .  "
            ".  .   WRT .   REA .   .   .   C2D .   .   .   D2R .   R2D .   .   D2L .   AL2 .  "
            ".  MEM MEM MEM MEM MEM .   COU COU COU .   REG REG REG REG REG .   ALU ALU ALU .  "
            ".  MEM MEM MEM MEM MEM .   COU COU COU .   REG REG REG REG REG ALR ALU ALU ALU .  "
            ".  MEM MEM MEM MEM MEM .   COU COU COU .   REG REG REG REG REG .   ALU ALU ALU .  "
            ".  MEM MEM MEM MEM MEM M2C COU COU COU .   REG REG REG REG REG RAL ALU ALU ALU .  "
            ".  MEM MEM MEM MEM MEM .   COU COU COU .   REG REG REG REG REG .   .   .   .   .  "
            ".  .   .   .   A2M .   .   .   .   .   .   .   W2A .   A2W .   .   .   .   .   .  "
            ".  ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB .  "
            ".  .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ";
}

#body-grid:not(.advanced) {
    border: 0;
    grid-area: body-grid;
    /*background-color: #a5c17d;*/
    max-height: 90vh;
    background-color: rgba(0,0,0,0.1);

    display: grid;
    grid-row-gap: 3px;
    grid-column-gap: 3px;
    grid-template-columns: 0.5fr 1fr 1fr 5fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr 2fr 1fr 0.5fr;
    grid-template-rows: 0.25fr 1fr 1fr 3fr 1fr 1fr 1fr 6fr 1fr 1fr 0.25fr;
    grid-template-areas:
            ".  .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  "
            ".  EDB EDB EDB EDB EDB D2D DAB DAB DAB DAB DAB DAB DAB DAB DAB .  "
            ".  .   WRT .   REA .   .   .   D2R .   R2D .   .   D2L .   AL2 .  "
            ".  MEM MEM MEM MEM MEM .   REG REG REG REG REG .   ALU ALU ALU .  "
            ".  MEM MEM MEM MEM MEM .   REG REG REG REG REG ALR ALU ALU ALU .  "
            ".  MEM MEM MEM MEM MEM .   REG REG REG REG REG .   ALU ALU ALU .  "
            ".  MEM MEM MEM MEM MEM .   REG REG REG REG REG RAL ALU ALU ALU .  "
            ".  MEM MEM MEM MEM MEM .   REG REG REG REG REG .   .   .   .   .  "
            ".  .   .   .   A2M .   .   .   W2A .   A2W .   .   .   .   .   .  "
            ".  ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB .  "
            ".  .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ";
}


@media (max-width: 767px) {
    #body-grid.advanced {
        grid-area: body-grid;
        max-height: 90vh;
        /*background-color: #a5c17d;*/

        display: grid;
        grid-row-gap: 3px;
        grid-column-gap: 3px;
        grid-template-columns: 1fr 1fr 5fr 1fr 1fr 1fr 7fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 3fr 1fr 1fr 1fr 6fr 1fr 1fr;
        grid-template-areas:
                "EDB EDB EDB EDB EDB D2D DAB DAB DAB DAB DAB DAB DAB DAB DAB DAB DAB DAB DAB"
                ".   WRT .   REA .   .   .   C2D .   .   .   D2R .   R2D .   .   D2L .   AL2"
                "MEM MEM MEM MEM MEM .   COU COU COU .   REG REG REG REG REG .   ALU ALU ALU"
                "MEM MEM MEM MEM MEM .   COU COU COU .   REG REG REG REG REG ALR ALU ALU ALU"
                "MEM MEM MEM MEM MEM .   COU COU COU .   REG REG REG REG REG .   ALU ALU ALU"
                "MEM MEM MEM MEM MEM M2C COU COU COU .   REG REG REG REG REG RAL ALU ALU ALU"
                "MEM MEM MEM MEM MEM .   COU COU COU .   REG REG REG REG REG .   .   .   .  "
                ".   .   .   A2M .   .   .   .   .   .   .   W2A .   A2W .   .   .   .   .  "
                "ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB";
    }

    #body-grid:not(.advanced) {
        border: 0;
        grid-area: body-grid;
        /*background-color: #a5c17d;*/
        max-height: 90vh;

        display: grid;
        grid-row-gap: 3px;
        grid-column-gap: 3px;
        grid-template-columns: 1fr 1fr 5fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 3fr 1fr 1fr 1fr 6fr 1fr 1fr;
        grid-template-areas:
                "EDB EDB EDB EDB EDB D2D DAB DAB DAB DAB DAB DAB DAB DAB DAB"
                ".   WRT .   REA .   .   .   D2R .   R2D .   .   D2L .   AL2"
                "MEM MEM MEM MEM MEM .   REG REG REG REG REG .   ALU ALU ALU"
                "MEM MEM MEM MEM MEM .   REG REG REG REG REG ALR ALU ALU ALU"
                "MEM MEM MEM MEM MEM .   REG REG REG REG REG .   ALU ALU ALU"
                "MEM MEM MEM MEM MEM .   REG REG REG REG REG RAL ALU ALU ALU"
                "MEM MEM MEM MEM MEM .   REG REG REG REG REG .   .   .   .  "
                ".   .   .   A2M .   .   .   W2A .   A2W .   .   .   .   .  "
                "ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB";
    }
}

#externalDataBus {
    grid-area: EDB;
    background-color: rgba(193,137,119, 0.8);
}

#internalDataBus {
    grid-area: DAB;
    background-color: rgba(193,137,119,0.8);
}


#internalDataBus input {
    /*border: 1px solid #2d2d2d;*/
    border: none;
    padding-bottom: 1px;
    text-align: center;
    background-color: rgba(193,137,119,0.8);
    width: 100%;
}

#internalDataBus input:hover{
    background-color: #e7a793;
}

#memory-grid {
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow-y: auto;
    grid-area: MEM;
    background-color: rgba(209,123,175,0.8);
}

#controlUnit-grid {
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow-y: auto;
    grid-area: COU;
    background-color: rgba(163,138,193,0.8);
}

#registers-grid {
    display: flex;
    flex-direction: column;
    padding: 5px;

    grid-area: REG;
    background-color: rgba(104,134,193,0.8);
}

#alu-grid {
    display: flex;
    flex-direction: column;
    padding: 5px;
    grid-area: ALU;
    background-color: rgba(128,163,193,0.8);
}

#addressBus-grid {
    grid-area: ADB;
    background-color: rgba(193,160,111,0.8);
}

#REA {grid-area: REA;}
#WRT {grid-area: WRT;}
#D2D {grid-area: D2D;}
#M2C {grid-area: M2C;}
#A2M {grid-area: A2M;}
#C2D {grid-area: C2D;}
#R2D {grid-area: R2D;}
#D2R {grid-area: D2R;}
#W2A {grid-area: W2A;}
#A2W {grid-area: A2W;}
#AL2 {grid-area: AL2;}
#D2L {grid-area: D2L;}
#RAL {grid-area: RAL;}
#ALR {grid-area: ALR;}


#registers-grid .insideBlock {
    padding-bottom: 0;
    overflow-y: auto;
}

#incr, #decr{
    font-weight: bold;
    float: left;
    width: 9%;
}

#svr {
    float: right;
}


#scrollArea-memory, #scrollArea-microcode {
    flex-grow: 1;
}

#memory-editor, #microcode-editor {
    flex-grow: 1;
    margin-bottom: 2px;
}


