* {
    color: #2d2d2d;
}

body {
    background-color: #cccccc;
}

.block, button, .block input {
    color: #2d2d2d;
}

button {
    background-color: #dedede;
    color: #2d2d2d;
}

button:hover {
    background-color: #f9f9f9;
}

button:disabled,
button[disabled] {
    background-color: #9e9e9e;
    color: #666666;
}

body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

.mem-highlighted {
    background-color: #c1a06f;
}

.highlighted, .umem-highlighted {
    color: #cccccc !important;
    background-color: #707070 !important;
}

.failed {
    color: #cccccc;
    background-color: #70393b !important;
}

.selectedPair {
    background-color: transparent;
}

.selectedRegister {
    background-color: rgba(104, 134, 193, 1);
}

.selectedRegister:hover, .selectedPair:hover {
    background-color: rgba(104, 134, 193, 1);
}

.registerButton span {
    color: #4b4b4b;
}

.table-descr {
    background-color: #c1c1c1;
}

.svrSelected {
    background-color: #5aa2a0;
}

.OPSelected {
    background-color: #a38ac1;
}

.ace-tm {
    background-color: #dedede !important;
}

#buttons-grid {
    background-color: rgba(255, 255, 255, 0.5);
}

#clock-grid {
    background-color: rgba(255, 255, 255, 0.5);
}

#logo {
    background-color: rgba(255, 255, 255, 0.5);
}

#logo select {
    background-color: transparent;
}

#logo select:hover {
    background-color: inherit;
}

#body-grid.advanced {
    background-color: rgba(0, 0, 0, 0.1);
}

#externalDataBus {
    background-color: rgba(193, 137, 119, 0.8);
}

#internalDataBus {
    background-color: rgba(193, 137, 119, 0.8);
}

#internalDataBus input {
    background-color: transparent;
}

#internalDataBus input:hover {
    background-color: #e7a793;
}

#memory-grid {
    background-color: rgba(209, 123, 175, 0.8);
}

#controlUnit-grid {
    background-color: rgba(163, 138, 193, 0.8);
}

#registers-grid {
    background-color: rgba(104, 134, 193, 0.8);
}

#alu-grid {
    background-color: rgba(128, 163, 193, 0.8);
}

#addressBus-grid {
    background-color: rgba(193, 160, 111, 0.8);
}