#header-grid {
    border: 0;
    grid-area: header-grid;
    /*background-color: #81c19d;*/

    display: grid;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
            "buttons-grid clock-grid logo";
}

@media (max-width: 767px) {
    #header-grid {
        border: 0;
        grid-area: header-grid;
        /*background-color: #81c19d;*/

        display: grid;
        grid-row-gap: 15px;
        grid-column-gap: 15px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
                "buttons-grid logo"
                "clock-grid clock-grid";
    }
}


#buttons-grid {
    grid-area: buttons-grid;
/*background-color: #a5a6c1;*/
    background-color: rgba(162, 214, 179, 0.8);
}

#clock-grid {
    grid-area: clock-grid;
/*background-color: #97a9c1;*/
    background-color: rgba(162, 214, 179, 0.8);
}

#clock-grid button, #clock-grid input{
    width: 14%;
}

#logo {
/*background-color: #c18977;*/
    background-color: rgba(162, 214, 179, 0.8);
    grid-area: logo;
    font-weight: bold;
    font-size: 300%
}

body{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}