* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #2d2d2d;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #cccccc;
}

table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    /* border: 1px solid black;*/
    vertical-align: center;
    padding: 2px;
}

div, button {
    /*-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;*/
    border: 1px solid #2d2d2d;
    padding: 2px;
    text-align: center;
}

button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

input {
    margin: 0;
    padding: 0;
}

select {
    width: 100%;
}

.highlighted, .umem-highlighted {
    color: #cccccc;
    background-color: #707070 !important;
}

.failed {
    color: #cccccc;
    background-color: #70393b !important;
}

.flowButton {
    font-weight: bold;
    font-size: 150%
}

.selectedRegister {
    background-color: #a5c17d;
}

.registerButton {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 40%;
    top: -54px;
    position: relative;
}

.pairBlock {
    margin-bottom: 2px;
    height: 64px;
}

.pairButton {
    height: 60px;
    width: 100%;
    clear: both;
    float: none;
}

.registerButton span {
    color: #636363;
}

#body-grid div {
    /*box-shadow: 2px 1px 3px #2d2d2d;*/
}

.nameBlock {
    height: 30px;
    line-height: 25px;
    vertical-align: middle;
    margin-bottom: 2px;
}