* {
    font-family: Ubuntu Mono, Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #2d2d2d;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #cccccc;
    font-family: inherit;
}

table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    /* border: 1px solid black;*/
    vertical-align: middle;
    padding: 2px;
}

div {
    font-family: Ubuntu Mono, Helvetica, Arial, sans-serif;
}

.block, button, .block input {
    font-family: Ubuntu Mono, Helvetica, Arial, sans-serif;
    font-size: 120%;
    /*border: 1px solid #2d2d2d;*/
    padding: 2px;
    text-align: center;
    color: #2d2d2d;
}

button {
    background-color: #dedede;
    border: 2px solid #333333;
    color: #2d2d2d;
}

button:hover {
    background-color: #f9f9f9;
}

button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

input {
    margin: 0;
    padding: 0;
}

select {
    width: 100%;
}

.mem-highlighted {
    background-color: #c1a06f;
}

.highlighted, .umem-highlighted {
    color: #cccccc;
    background-color: #707070 !important;
}

.failed {
    color: #cccccc;
    background-color: #70393b !important;
}

.flowButton {
    font-weight: bold;
    font-size: 150%
}

.selectedRegister, .selectedPair {
    border: 2px solid #2d2d2d;
    background-color: #c8cbef;
}

.selectedRegister:hover, .selectedPair:hover {
    background-color: #c8cbef;
}

.registerButton {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 40%;
    top: -62px;
    position: relative;
}

.pairBlock {
    font-size: 60%;
    margin-bottom: 8px;
    height: 64px;
}

.pairButton {
    height: 70px;
    flex-grow: 1;
    width: 100%;
    clear: both;
    float: none;
}

.registerButton span {
    color: #636363;
}

.nameBlock {
    height: 30px;
    line-height: 25px;
    vertical-align: middle;
    margin-bottom: 2px;
}

.nameBlock button {
    font-size: 60%;
    width: 14%;
}

.table-descr {
    background-color: #c1c1c1;
}

.svrSelected {
    background-color: #5aa2a0;
}

.OPSelected {
    background-color: #a38ac1;
}

.hidden {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.ace_editor {
    font-family: inherit !important;
    font-size: 16px !important;
}

.insideBlock{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.memoryBlock, .microcodeBlock, .table-descr{
    border: 1px solid #2d2d2d;
    font-size: 65%;
}

.ace-tm {
    background-color: #dedede !important;
}