.memory_block {
    float: left;
    color: #000000;
    vertical-align: middle;
    border-radius: 3px;
    text-align: center;
    width           : 40px;
    background      : #ccc;
    height          : 20px;
    border          : 1px solid #000;
    box-shadow      : 1px 1px 5px -1px #000;
    margin          : 1px;
    cursor          : pointer;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    vertical-align: top;
    padding: 5px;
}

.highlighted {
    background-color: #cccccc;
}

.umem-highlighted {
    background-color: #cccccc;
}